<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HelpfulAdditions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HelpfulAdditions.Properties.Settings>
            <setting name="deleteAllProjectilesOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="singlePlayerCoopOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="powersInSandboxOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="roundInfoScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showBloonIds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="roundSetSwitcher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="blonsInEditor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showBossBloons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shuffleJukebox" serializeAs="String">
                <value>False</value>
            </setting>
        </HelpfulAdditions.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
